<ul>
	<li class='menu'>
		<input type='checkbox' name='menu[]' value='오로라 투어' id='menu_1'>
		<label for='menu_1'>
			<img src="img/tour1.jpg">
		</label>
		<div class='menu_nm'>오로라 투어</div>
		<div class='view_more' data-num='menu_1'>상품상세보기</div>
	</li>

    <li class='menu'>
		<input type='checkbox' name='menu[]' value='스카프타펠' id='menu_2'>
		<label for='menu_2'>
			<img src='img/tour2.jpg'>
		</label>
		<div class='menu_nm'>스카프타펠</div>
		<div class='view_more' data-num='menu_3'>상품상세보기</div>
	</li>


    <li class='menu'>
		<input type='checkbox' name='menu[]' value='이스트 피오르드' id='menu_3'>
		<label for='menu_3'>
			<img src='img/tour3.jpg'>
		</label>
		<div class='menu_nm'>이스트 피오르드</div>
		<div class='view_more' data-num='menu_3'>상품상세보기</div>
	</li>



    <li class='menu'>
		<input type='checkbox' name='menu[]' value='레이크비크 모닥불 축제' id='menu_4'>
		<label for='menu_4'>
			<img src='img/tour4.jpg'>
		</label>
		<div class='menu_nm'>레이크비크 모닥불 축제</div>
		<div class='view_more' data-num='menu_4'>상품상세보기</div>
	</li>



    <li class='menu'>
		<input type='checkbox' name='menu[]' value='웨스트 피오르드' id='menu_5'>
		<label for='menu_5'>
			<img src='img/tour5.jpg'>
		</label>
		<div class='menu_nm'>웨스트 피오르드</div>
		<div class='view_more' data-num='menu_5'>상품상세보기</div>
	</li>


    <li class='menu'>

		<input type='checkbox' name='menu[]' value='요쿨살론 빙하호수' id='menu_6'>
		<label for='menu_6'>
			<img src='img/tour6.jpg'>
		</label>
		<div class='menu_nm'>요쿨살론 빙하호수</div>
		<div class='view_more' data-num='menu_6'>상품상세보기</div>
	</li>


    
    <li class='menu'>
		<input type='checkbox' name='menu[]' value='레이캬비크' id='menu_7'>
		<label for='menu_7'>
			<img src='img/tour7.jpg'>
		</label>
		<div class='menu_nm'>레이캬비크</div>
		<div class='view_more' data-num='menu_7'>상품상세보기</div>
	</li>


    
    <li class='menu'>
		<input type='checkbox' name='menu[]' value='플라이오버' id='menu_8'>
		<label for='menu_8'>
			<img src='img/tour8.jpg'>
		</label>
		<div class='menu_nm'>플라이오버</div>
		<div class='view_more' data-num='menu_8'>상품상세보기</div>
	</li>


    
    <li class='menu'>
		<input type='checkbox' name='menu[]' value='수퍼지프' id='menu_9'>
		<label for='menu_9'>
			<img src='img/tour9.jpg'>
		</label>
		<div class='menu_nm'>수퍼지프</div>
		<div class='view_more' data-num='menu_9'>상품상세보기</div>
	</li>
</ul>

   

</ul>


